@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url("../static/HellasDustCyrillic.otf"); */

@font-face {
  font-family: Monesta-Light-DEMO; /* Гарнитура шрифта */
  src: url(../static/Monesta-Light-DEMO.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Caligo Regular; /* Гарнитура шрифта */
  src: url(../static/font_Caligo1.0.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Norse; /* Гарнитура шрифта */
  src: url(../static/Norsebold.otf); /* Путь к файлу со шрифтом */
}
h1 {
  font-family: Norse;
  letter-spacing: 0.1em;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Monesta-Light-DEMO;
  background-color: rgb(0, 0, 0);
  font-size: 24px;
  letter-spacing: 0.1em;
}
.main-content {
  width: 100vw;
}

h1,
h2,
h3 {
  font-family: Monesta-Light-DEMO;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 48px;
  font-weight: 500;
  padding: 2em 0 0 0;
  text-align: center;
}

p,
label {
  color: white;
  text-align: center;
  font-family: Monesta-Light-DEMO;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
